/* .banner, .order-form {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banniere2.jpg") center center fixed 
    no-repeat;
    background-size: cover; */
    /* pour qu'il couvre toute la page l'image */
    /* height: 800px;
} */

.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/Pictures/brando-makes-branding-smTDI-z1rlY-unsplash.jpg") center center fixed 
    no-repeat;
    background-size: cover;
    height: 700px;
}

.card {
    background: rgba(0, 0, 0, 0.7); /* Fond de la carte transparent */
    border-radius: 4px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 360px;
    height: 370px;
}


